<div class="row" *ngIf="isList">
    <div class="col-sm-12">
      <h2 class="pull-left">Reasons List</h2>
      <button class="btn btn-primary pull-right margin-top-20px" type="button" (click)="new()">New</button>
    </div>
    <div class="col-sm-3" *ngFor="let reason of reasons">
      <div class="border-style" (click)="populate(reason)">
        <p>Name : {{reason.name}}</p>
        <p>Description: {{reason.description}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!isList">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="pull-left">Reason</h2>
        <button class="btn btn-primary pull-right margin-top-20px" type="button" (click)="back()">Back to List</button>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="reason.name" name="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" [(ngModel)]="reason.description" name="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" *ngIf="isNew">
          <button class="btn btn-primary form-control" type="button" (click)="save()">Save</button>
        </div>
        <div class="col-sm-2" *ngIf="!isNew">
          <button class="btn btn-primary form-control" type="button" (click)="update()">Update</button>
        </div>
        <div class="col-sm-2" *ngIf="!isNew">
          <button class="btn btn-primary form-control" type="button" (click)="delete()">Delete</button>
        </div>
        <div class="col-sm-2" *ngIf="isNew">
          <button class="btn btn-primary form-control" type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>