<div class="row" *ngIf="isList">
  <div class="col-sm-12">
    <h2 class="pull-left">Step Group List</h2>
    <button class="btn btn-primary pull-right margin-top-20px" type="button" (click)="new()">New</button>
  </div>
  <div class="col-sm-3" *ngFor="let stepgroup of stepgroups">
    <div class="border-style" (click)="populate(stepgroup)">
      <p>Name : {{stepgroup.name}}</p>
      <p>Description: {{stepgroup.description}}</p>
    </div>
  </div>
</div>
<div *ngIf="!isList">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="pull-left">Step Group</h2>
      <button class="btn btn-primary pull-right margin-top-20px" type="button" (click)="back()">Back to List</button>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Step Group Name</label>
          <input type="text" class="form-control" [(ngModel)]="stepgroup.name" name="name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="3" [(ngModel)]="stepgroup.description" name="description"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary form-control"  (click)="openModal(template, true, null)">Add Step</button>
      </div>
    </div>
    <div class="row margin-top-20px">
      <div class="col-sm-12">
        <table class="table">
          <tr>
            <th>Step Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let step of stepgroup.steps">
            <td>{{step.name}}</td>
            <td><button type="button" (click)="openModal(template, false, step)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
            <td><button type="button" (click)="deleteStep(step)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" *ngIf="isNew">
        <button class="btn btn-primary form-control" type="button" (click)="save()">Save</button>
      </div>
      <div class="col-sm-2" *ngIf="!isNew">
        <button class="btn btn-primary form-control" type="button" (click)="update()">Update</button>
      </div>
      <div class="col-sm-2" *ngIf="!isNew">
        <button class="btn btn-primary form-control" type="button" (click)="delete()">Delete</button>
      </div>
      <div class="col-sm-2" *ngIf="isNew">
        <button class="btn btn-primary form-control" type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>

  <ng-template #template>
    <div class="modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Step to Step group</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Step Name</label>
              <input type="text" class="form-control" [(ngModel)]="step.name" name="name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="3" [(ngModel)]="step.description" name="description"></textarea>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h4>Add Document</h4>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="documentsearch" name="documentsearch" (input)="onSearchChange($event.target.value, 'document')">
                <div *ngIf="documentshowResults" id="txtSearch" class="auto-complete-style">
                  <p *ngFor="let result of documentsearchResults" (click)="selectedItem(result,'document')" class="border-bottom">{{result.name}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <input type="button" class="form-control btn btn-primary" (click)="addDocumentToStep(documentsearch)" value="Add">
              </div>
            </div>
          </div>
          <div>
            <table class="table">
              <tr>
                <th>Document Name</th>
                <th>Delete</th>
              </tr>
              <tr *ngFor="let document of step.documents">
                <td>{{document.name}}</td>
                <td><button type="button" (click)="deleteDocument(document)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
              </tr>
            </table>
          </div>
        </div>
        <div>
            <div>
              <h4>Add Part</h4>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="partsearch" name="partsearch" (input)="onSearchChange($event.target.value,'step')">
                  <div *ngIf="partshowResults" id="txtSearch" class="auto-complete-style">
                    <p *ngFor="let result of partsearchResults" (click)="selectedItem(result,'step')" class="border-bottom">{{result.name}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <input type="button" class="form-control btn btn-primary" (click)="addPartToStep(partsearch)" value="Add">
                </div>
              </div>
            </div>
            <div>
              <table class="table">
                <tr>
                  <th>Part Name</th>
                  <th>Delete</th>
                </tr>
                <tr *ngFor="let part of step.parts">
                  <td>{{part.name}}</td>
                  <td><button type="button" (click)="deletePart(part)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addStepToStepGroup()" *ngIf="(step._id === undefined)">Add Step</button>
        <button type="button" class="btn btn-primary" (click)="updateStepToStepGroup()" *ngIf="!(step._id === undefined)">Update Step</button>
      </div>
    </div>
  </ng-template>
</div>